/* dark background overlay for mountain videos and image lightbox */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);     /* fallback background when no opacity */
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
	z-index: 1100;
	display: none;
}

.overlay-container {
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items:center;
	justify-content:center;
}

.overlay-container img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.overlay .icon[data-type="utility"].icon[data-value="cross"] {
	position: relative;
	top: 15px;
	left: -15px;
	color: #fff;
	float: right;
	z-index: 9999999999;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.overlay .close:hover {
	text-decoration: underline;
}

.overlay img {
	vertical-align: middle;
}

.overlay .nav {
	position: fixed;
	cursor: pointer;
	height: 100%;
	width: 10%;
	top: 5%;	/* to move clickable region lower than the close button */
	z-index: 999999999;	/* neccessary to ensure the icons appear in front of the overlay */
}

.overlay .left {
	background: url("./images/arrow-right.svg") no-repeat 50% 50%;
	transform: rotate(180deg);
	left: 0;
}

.overlay .right {
	background: url("./images/arrow-right.svg") no-repeat 50% 50%;
	right: 0;
}

.overlay .caption {
	padding-top: 10px;
}